/* .yRemoteSelection {
    background-color: rgb(250, 129, 0, .5)
}
.yRemoteSelectionHead {
    position: absolute;
    border-left: orange solid 2px;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    height: 100%;
    box-sizing: border-box;
} */
/* .yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid orange;
    border-radius: 4px;
    left: -4px;
    top: -5px;
} */

.monaco-editor .cursors-layer .cursor {
    background: #beaeae; 
    background:linear-gradient(
      #ffbc42,
      #ffbc42,
      #ffbc42
    ); 
    background: linear-gradient(
      #ffbc42
    ); 
  }

  
code {
    background-color: #ffffff12;
    border-color: #f7faff1f;
    color: #eff1f6bf;
    border-radius: 0.765rem;
    padding: 0.2rem;
}


pre {
   background-color: #ffffff12; 
   border-color: #f7faff1f;
   color: #eff1f6bf;
   border-radius: 0.765rem;
   margin-top: 1rem;
   padding: 0.5rem;
}

.resizable {
  flex-grow: 1;
  flex-basis: 0;
}

.resizer {
  cursor: col-resize;
}

